:ruby
  heading 'Entries' do |back, forward|
    forward.title = 'New Entry'
    forward.path = new_user_entry_path(@user)
  end

%table.entries
  %thead
    %tr
      %th Entries
      %th
      %th Delete
  %tbody
    - @entries.each do |entry|
      %tr[entry]{:ref => edit_entry_path(entry)}
        %td
          %span.standard_form= entry.standard_form
        %td= image_tag(entry.relative_path, :width => '100', :height => '60')
        %td= check_box_tag entry.id, 'delete'
        
:javascript
  $('tr.entry').click(function (e){
    window.location = $(e.currentTarget).attr('ref');
  });