

ul.actions
  li 
    :display inline-block
    :list-style none
    :padding 0 10px
    a
      :font-size .8em
      :text-transform uppercase
      :text-decoration none
  
table  
  thead
    th 
      :text-align left
    th
      a
        :font-weight normal
      
  tbody  
    td
      :padding 5px
      :margin 0
    td.card_count
      :text-align center
  
#thespinner
  :text-align center
  :padding-top 100px
  
