ul.actions li {
  display: inline-block;
  list-style: none;
  padding: 0 10px; }
  ul.actions li a {
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none; }

table thead th {
  text-align: left; }
table thead th a {
  font-weight: normal; }
table tbody td {
  padding: 5px;
  margin: 0; }
table tbody td.card_count {
  text-align: center; }
