.question .t1, .question .t2, .question .t3, .question .t4, .question .t5 {
  font-size: 140%; }

.answer .t1, .answer .t2, .answer .t3, .answer .t4, .answer .t5 {
  font-weight: bold; }

div.t1 {
  color: #e0b108; }

div.t2 {
  color: #d71b1d; }

div.t3 {
  color: #008040; }

div.t4 {
  color: #0080ff; }

div.t5 {
  color: gray; }

div.trans {
  font-style: italic; }
