:ruby
  heading 'Edit Account' do |back, forward|
    back.title = 'Account'
    back.path = user_path(object)
  end

= error_messages_for :user

- semantic_form_for @user do |f|
  = render :partial => "form", :object => f, :locals => {:cancel_link => object_path}
