:ruby
  heading 'New User' do |back, forward|
    back.title = 'Back'
    back.path = root_path
  end

= error_messages_for :user

- semantic_form_for @user do |f|
  = render :partial => "form", :object => f, :locals => {:cancel_link => root_path}

