:ruby
  heading 'Edit Card' do |back, forward|
    back.title = @object.deck.name
    back.path = deck_path(@object.deck)
  end

= error_messages_for :card

- semantic_form_for @card do |f|
  = render :partial => "form", :object => f, :locals => {:cancel_link => card_path(@card)}

