:ruby
  heading 'Edit Deck' do |back, forward|
    back.title = 'Back'
    back.path = deck_path(@deck)
  end

= error_messages_for :deck

- semantic_form_for @deck do |f|
  = render :partial => "form", :object => f, :locals => {:cancel_link => deck_path(@deck)}

