%table
  %thead
    %tr
      %th Decks
  %tbody
    - @decks.each do |deck|
      %tr
        %td= link_to h(deck.name), deck_path(deck)
        
%ul.actions
  %li= link_to 'add deck', new_user_deck_path(@user)