:ruby
  heading 'New Deck' do |back, forward|
    back.title = 'Decks'
    back.path = user_decks_path(@user)
  end


= error_messages_for :deck

- semantic_form_for [@user, @deck] do |f|
  = render :partial => "form", :object => f, :locals => {:cancel_link => user_decks_path(@user)}

